<div id="home-jumbo" class="center jumbotron container-fluid">
  <h1 class="col-xs-8">Bonjour, mon ami!</h1>
  <h2 class="col-xs-8">Welcome to the savory sabering community!</h2>
  <p  class="col-xs-8">You are among friends here!</p>
  <div class="col-xs-8">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
