<% provide :title, "About" %>

<h1>Our story:</h1>
<p>My father-in-law introduced me to the art of sabering champagne bottles.
  Legend has it that the popularity of popping bottles dates back to the
  French Revolution. Napoleon's cavalry men used their military sabers to open
  launch corks in honor of Madame Clicquot Ponsardin.
</p>
